extends layout

block content
    div(class='post-container')
        div.post-stats
            div.view-stats
                img(class="stat-ico view-ico",src="/images/ico/eye-regular.svg")
                span.view-counter #{views}
            div.like-stats
                img(class="stat-ico like-ico",src="/images/ico/heart-regular.svg" onclick="addLike("+articleId+")")
                span.like-counter #{likes}
        div(class='post-body')
            h1= title
            h3= description
            div(class='post-content')
                | !{postBody}
        

    if allow_commentary == true            
        div(class='comments-area')
            
            
                
            div(class='comment-area')
                        

                //script(src='/javascripts/comments.js')
                link(rel='stylesheet', href='/stylesheets/comments.css')


                div.comments-wrapper
                    h2.comments-title Comentaries
                    ol.comment-list
                        // =========== MAKE THE LIST ===============
                        each comment,index in comments  
                            li(class="comment" id='li-comment-' + index)
                                div.comment
                                    div.comment-wrapper
                                        div.comment-header
                                            cite #{comment.author}
                                            span
                                            // a #{comment.email}
                                            span
                                                a #{comment.create_date}
                                        div.comment-content
                                            p #{comment.content}
                                        div.comment-action
                                            //a RESPONDER
                        
                div.respond
                    div.respond-wrapper
                        h3.comment-reply-title Leave a comment
                        form(name='new-comment' class="comment-form" action="/postComment" method="post" onsubmit="return validateSubmit()")
                            input(id="parent_post" name="parent_post" type="hidden" value=page_name)
                            input(id="parent_comment" name="parent_comment" type="hidden" value=0)
                            div.comment-form-field 
                                div.comment-textarea
                                    textarea(name="content", cols="30", rows="10" placeholder="Type your comment..." onclick='$(".complement-form").show();$(window).scrollTop($("body").height() ) ' oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"')
                                    
                            div.complement-form
                                div.comment-form-identity
                                    div.comment-form-label
                                        p= 'Fill your details below:'
                                    div.comment-form-fields
                                        div(class='comment-form-name comment-form-field')
                                            input(id='author' name='author' type='text' placeholder='Name (required)')
                                        div(class='comment-form-email comment-form-field')
                                            input(id='email' name='email' type='text' placeholder='Email (required)')
                                div.subscribe-container
                                    input( name="subscribe" , type="checkbox", class="subscribe-check") 
                                    label  I want to receive new posts in my E-mail
                                div.submit-form
                                    input( type="submit" id="comment-submit" class="submit comment-form-field" value="Send Comment")
                                    
                            
                                


