mixin input_integer(name)
    label #{name}
    if name == 'id'
        input(class ="input-field", name=name , type='number', disabled="disabled", readonly )
    else
        input(class ="input-field", name=name , type='number')

mixin input_string(name)
    input(class ="input-field", name=name , type='text' placeholder=name.toUpperCase())

mixin input_boolean(name)
    label #{name}
    input(class ="input-field", id=name+'true', name=name , value='true', type='radio')
    <label for=name+'true' >true</label>
    input(class ="input-field", id=name+'false', name=name , value='false', type='radio')
    <label for=name+'false' >false</label>

mixin input_text(name)
    textarea(class ="input-field", name=name )
    div(class = "input-field textarea-preview")

mixin input_date(name)
    input(class ="input-field", name=name , type='hidden', disabled="disabled")

mixin input_field(name,type)
    div(class = "data-field " + type )
        //label #{name}
        case type
            when 'INTEGER'
                +input_integer(name)
            when 'BOOLEAN'
                +input_boolean(name)
            when 'TEXT'
                +input_text(name)
            when 'DATE'
                +input_date(name)
            default
                +input_string(name)


html
    head
        title= "Editor"
        link(rel='stylesheet', href='/stylesheets/editor.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js")
        script(src='/javascripts/editor.js')
        script. 
            apiServicePath = '#{endPointName}' + '/';
            tokenExpireTime = #{tokenExpireTime};
            setupTokenRenew();
    body
        
        div.editor-master-conteiner
            div.header-container
                div.editor-title-container
                    h1.editor-title #{endPointName} Editor
                div.editor-tools-container
                    //h3.tools-title Tools
                    div.tool-buttons
                        button(class='tool-button', onclick='newPost()') NEW
                        button(class='tool-button', onclick='savePost()') SAVE
                        button(class='tool-button', onclick='editPost()') EDIT
                        BUTTON(class='tool-button', onclick='previewArticle()') PREVIEW
                        BUTTON(class='tool-button', onclick='deletePost()') DELETE
                        BUTTON(class='tool-button', onclick='getAllItems()') LOAD ALL
                        BUTTON(class='tool-button', onclick='logoff()') LOGOFF
                        

            div.data-container
                div.post-list-container
                    h3.tools-title List
                    div.file-list-container
                        div.post-container
                            ol.post-list
                                //each post in postList
                                //    li(id='post'+post.id, class='post-item' , onclick="selectArticle("+post.id+")" )
                                //            cite #{post.id} 
                                //                spam #{post.title}
                div(class='write-data-container hide')

                    if endPointName == 'articles'
                        div.articles-tools
                            button(class="publish-button" , onclick="publishArticle()") Publish Article
                            button(class="publish-button" , onclick="defineHomepage()") Define Homepage
                    
                    if endPointName == 'configs'
                        div.articles-tools
                            button(class="publish-button" , onclick="applyConfigs()") Apply Configs

                    h3.data-title Data
                    div.data-properties
                    
                    form(id='article-form' ,name='new-article' class="new-article-form" action="/article" method="post" onsubmit="return validateSubmit()")
                        div.data-content
                            each field in dataFields 
                                +input_field(field.name,field.type)
                            div.data-field
                                
            div.status-container
                label.title status: 
                    label.status

        div.confirm-container
            div.confirm-container-background
                div.confirm-content
                    div.title-container
                        h4.confirm-title Confirm
                    div.buttons-container
                        button(class='confirm-yes', onclick='confirmOperation(true)') YES
                        button(class='Confirm-no', onclick='confirmOperation(false)') NO




      
