
doctype html
html
    head
        title= pageTitle
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/postsList.css')
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src='/javascripts/ui.js')
        script(src='/javascripts/blogUtils.js')
        script(src='/javascripts/comments.js')
        
    body
        div(class='master-head')
            div(class='header-wrapper-container')
                div(class='header-wrapper')
                    img(class="left-header-img" src="../images/node_logo.png")
                    div(class='site-branding-text')
                        p.site-title
                            a(href="/") #{site.site_title}
                        p.site-description
                            a #{site.site_description}
                    img(class="right-header-img" src="../images/node_logo.png")
            div(class='menu-wrapper')
                button( class='menu-button' onclick="$('.main-navigation , .menu-button').toggleClass( 'menu-open' );" ) MENU
                        img(width='45px' src="../images/menu.svg")
                              
                div.main-navigation
                    ul  
                        li
                            a(class='menu-item' href='/') home
                        each post in menu
                            if post.main_menu == true
                                li
                                    a(class='menu-item' href=post.path) #{post.title}
                        
                        li
                            a(class='menu-item' href='/contact') contato
    div(class='master-body')
        block content

    div(class='master-footer')
        div.footer-content
            div.footer-keywords
                h3 Keywords
                ul.keywords-ul 
                    each keyword in keywords
                        li
                            a(href="../keyword/" + keyword ) #{keyword} 
            div.footer-authors
                h3 Authors
                ul.authors-ul 
                    each author in authors
                        li
                            a(href="../author/" + author ) #{author} 
            div.footer-last-posts
                h3 Last Posts
                ul.last-ul 
                    each post in lastPosts
                        li
                            a(href="../" + post.path ) #{post.title} 
            div.footer-areas
                h3 Links
                ul
                    li
                        a(href='/contact') Contato
                    li
                        a(href="/admin") Admin
        div.footer-lower
            a(href="https://github.com/kortkamp/nodeblogger") Nodeblogger 2021
            

a(id="goTopButton")