
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(class='master-head')
            
            div(class='header-wrapper')
                img(src="../images/hannouver.png")
                div(class='site-branding-text')
                    p.site-title
                        a #{site.title}
                    p.site-description
                        a #{site.description}
                img(src="../images/brasil.png")
            div(class='menu-wraper')
                div.main-navigation
                    ul
                        li
                            a(class='menu-item' href='/') home
                        each val in menu
                            li
                                a(class='menu-item' href=val.link) #{val.title}
                        li
                            a(class='menu-item' href='/tree') genealogia
    div(class='master-body')
        block content

    div(class='master-footer')
        h3= 'Marcelo Kortkamp 2021'
